#product1 {
  text-align: center;
}
.proContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
a {
  display: contents !important;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0px;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding-left: 10px;
}
#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 18px;
  margin-bottom: 0.2rem;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  color: #088178;
  font-size: 15px;
  font-weight: 7000;
}

#product1 .pro .fa {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  font-weight: 900 !important;
  font-size: 1.6rem;
  bottom: 17px;
  right: 10px;
  border: 1px solid #cce7d0;
  background-color: #e8f6e8;
  color: #088178;
  position: absolute;
}

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }

  #product1 .proContainer {
    justify-content: center;
  }

  #product1 .pro {
    margin: 15px;
  }
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }

  #product1 .pro {
    width: 100%;
  }
}
