footer {
  display: flex;
  /* justify-content: space-between !important; */
  flex-wrap: wrap;
}

footer .col1 {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  flex-basis: 25%;
  min-width: 180px;
  margin-bottom: 20px;
}
footer .col1 p a {
  color: #465b52;
}

footer .col1:first-child {
  min-width: 200px;
  flex: 1;
}
footer .install {
  min-width: 200px;
  flex: 1;
}
footer .col1:first-child img {
  max-width: 50%;
  margin-bottom: 2rem;
}

footer .logo {
  margin-bottom: 5rem;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 6px 0px 8px 0px;
}

footer Link {
  display: block;
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding: 4px;
  font-size: 1.2rem;
  margin-right: 0.46rem;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 5px;
}

footer .install img {
  height: fit-content;
  width: fit-content;
  margin: 10px 0px 15px 0px;
}

footer .follow i:hover,
footer {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 579px) {
  footer .col1:first-child img {
    max-width: 50%;
    margin: auto;
    margin-left: 20vw !important;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 798px) {
  .row {
    margin-left: 1rem;
    justify-content: center;
  }
}
