#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0px 5px 15px rgb(165, 161, 161);
  z-index: 999;
  position: sticky;
  top: 0px;
  left: 0px;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: all 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}
#close {
  display: none;
}

.dropbtn {
  background-color: transparent;
  color: #1a1a1a;
  font-weight: 600;
  padding: 20px !important;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.4rem;
  line-height: 2;
  border-radius: 0.6rem;
  padding: 0.8rem 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #1a1a1a;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media  (min-width: 1034px) {
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
  }
}
.dropbtn {
  padding: 10px !important;
}
@media (max-width: 1034px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0px 0px 10px;
    transition: 0.3s;
    z-index: 999;
  }

  #navbar.active {
    right: 0px;
  }

  .dropbtn {
    padding: 0px !important;
  }
  .d-modify {
    padding: 0 20px;
    padding-bottom: 25px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: block;
    align-items: center;
  }

  #mobile i {
    font-size: 24px;
    color: #1a1a1a;
    padding-left: 20px;
  }
  .search {
    position: relative;
    display: flex;
    /* justify-content: start; */
    margin-top: 1.2rem;
    margin-left: 36px !important;
  }
  .seaech-wrap {
    width: 104% !important;
  }
  #close {
    display: inherit;
    position: absolute;
    top: 5px;
    left: 28px;
    color: #222;
    font-size: 26px;
  }

  #lg-bag,
  .lg-bag {
    display: none;
  }
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }

  #header {
    padding: 10px 30px;
  }
}
@media (max-width: 1160px) {
  #header {
    padding: 20px 30px;
  }
  #navbar li {
    list-style: none;
    padding: 0 15px;
    position: relative;
  }
}
