#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background: url(./img/banner/b2.jpg); */
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
  }
  
  #banner {
    color: #fff;
    font-size: 30px;
    padding: 10px 0px;
  }
  
  #banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0px;
  }
  
  #banner h2 span {
    color: #ef3636;
  }
  #banner h4  {
    color: #088178;
  }
  #banner button:hover {
    background-color: #088178;
    color: #fff;
  }
  
  @media (max-width: 799px) {
    .section-p1 {
      padding: 40px 40px;
      justify-content: center !important;
      text-align: center !important;
    }
  
    #banner {
      height: 28vh !important;
    }
  }
  
  @media (max-width: 477px) {
    .section-p1 {
      padding: 20px;
    }
  
    #banner {
      height: 55vh !important;
    }
  
    .section-p1 {
      padding: 40px 20px;
    }
  }