.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0px;
}

#cart {
  overflow: auto;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart table img {
  width: 70px;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 13px;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#subtotal button {
  background-color: #088178;
  color: #fff;
  padding: 12px 20px;
  margin-left: 1.2rem;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  padding: 30px;
  border: 1px solid #e2e9e1;
}
.payment_container {
  display: block;
  margin: auto;
  width: 40%;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px;
}

#subtotal table td {
  width: 10px;
  padding: 10px;
  border: 1px solid #e2e9e1;
  font-size: 13px;
}
#address_btn {
  padding: 0 !important;
  margin-left: 2rem;
  margin-bottom: 0.2rem;
  border: none;
  background: transparent !important;
  color: #088178 !important;
  font-weight: 600;
  transition: 0.4s ease-in-out all;
}
#cross_icon:hover,
#address_btn:hover {
  transform: scale(1.1);
}
#cross_icon {
  font-size: 1.32rem;
  font-weight: 500;
  transition: 0.4s ease-in-out all;
}

#p_login_btn {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 0.3rem;
  font-weight: 500;
  transition: 0.5s ease-in-out all;
}
#p_login_btn:hover,
#paynow_btn:hover {
  transform: translateX(8px);
}
#paynow_btn {
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 0.3rem;
  font-weight: 500;
  background-color: #088178;
  color: #fff;
  transition: 0.5s ease-in-out all;
}
@media (max-width: 477px) {
  #cart-add {
    flex-direction: column;
  }
  #coupon {
    width: 100%;
  }
  #subtotal {
    width: 100%;
  }
  .section-p1 {
    padding: 40px 24px;
  }
  #cart table td:nth-child(6) {
    width: 135px;
    text-align: center;
  }
  #cart table tbody tr td {
    padding-top: 13px;
  }

  #cart table td:nth-child(5) input {
    width: 64px;
    padding: 10px 5px 10px 13px;
  }
}
