#prodetails {
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-image {
  width: 100%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 100%;
  padding-top: 30px;
}
#prodetails .single-pro-details h4 {
  font-size: 2.1rem;
  padding: 40px 0 0px 0;
  color: #1e1e1e;
}
#prodetails .single-pro-details h2 {
  font-size: 26px;
  color: #1e1e1e;
}
#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  color: #1e1e1e;

  margin-bottom: 1.8rem;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
I #prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details button {
  background: #088178;
  color: #fff;
}

#prodetails .single-pro-details span {
  line-height: 25px;
}

/* Single Product */
@media (max-width: 800px) {
  #prodetails {
    display: flex;
    flex-direction: column;
  }
  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }
  #prodetails .single-pro-details {
    width: 100%;
  }
}

@media (max-width: 477px) {
  #prodetails .single-pro-details h2 {
    font-size: 26px;
    display: flex;
  }
}
